<nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="">
                <b>time</b>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="material-icons">cloud_download</i> Mobile App
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <i class="material-icons">settings_power</i> Log Out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="page-header" data-parallax="true" style="background-color: #2c5a8f;"></div>
<div class="main main-raised">
    <div class="container-fluid">
        <div class="row" style="padding-top: 30px;">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="row">
                    <div class="col-md-2">
                        <ul class="nav nav-pills nav-pills-success nav-pills-icons flex-column" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#pick-a-service" role="tab" data-toggle="tab">
                                    <i class="material-icons">dashboard</i>New Task
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#pending-customer" role="tab" data-toggle="tab">
                                    <i class="material-icons">event_available</i> Pending
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#history-customer" role="tab" data-toggle="tab">
                                    <i class="material-icons">history</i> Completed
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#profile-customer" role="tab" data-toggle="tab">
                                    <i class="material-icons">face</i> Profile
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8 ml-auto mr-auto">
                        <div class="tab-content">
                            <div class="tab-pane active" id="pick-a-service">
                                <div class="row">
                                    <div class="col-md-12 ml-auto mr-auto">
                                        <div class="card card-nav-tabs">
                                            <div class="card-header card-header-success">
                                                <div class="nav-tabs-navigation">
                                                    <div class="nav-tabs-wrapper">
                                                        <ul class="nav nav-tabs" data-tabs="tabs">
                                                            <li class="nav-item">
                                                                <a class="nav-link active" href="#health" data-toggle="tab">
                                                                    <i class="material-icons">layers</i>
                                                                    <span>Health</span>
                                                                </a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" href="#work" data-toggle="tab">
                                                                    <i class="material-icons">layers</i>
                                                                    <span>Work</span>
                                                                </a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" href="#recreational" data-toggle="tab">
                                                                    <i class="material-icons">layers</i>
                                                                    <span>Recreational</span>
                                                                </a>
                                                            </li>

                                                            <li class="nav-item">
                                                                <a class="nav-link" href="#other" data-toggle="tab">
                                                                    <i class="material-icons">layers</i>
                                                                    <span>Other</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>


                                            <form action="" method="post">
                                                <div class="card-body ">
                                                    <div class="tab-content text-center">

                                                        <div class="tab-pane active" id="health">

                                                            <div class="row" style="padding: 30px;">
                                                                <div class="col-lg-3 col-sm-4" style="text-align: left;">
                                                                    <div class="form-group">
                                                                        <label for="healthName" class="bmd-label-floating">Task Name</label>
                                                                        <input type="text" class="form-control formName" id="healthName">
                                                                        <!-- <span class="bmd-help">Enter what you are doing</span> -->
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3 col-sm-4" style="text-align: left;">
                                                                    <div class="form-group">
                                                                        <label for="healthDescription" class="bmd-label-floating">Description</label>
                                                                        <input type="text" class="form-control formDescription" id="healthDescription">
                                                                        <!-- <span class="bmd-help">Explain your task</span> -->
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-3 col-sm-4" style="text-align: left;">
                                                                    <div class="form-group">
                                                                        <label class="label-control">Choose Start Date/Time</label>
                                                                        <input type="text" id="healthStart" class="form-control datetimepicker formStart" value="">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3 col-sm-4" style="text-align: left;">
                                                                    <div class="form-group">
                                                                        <label for="healthDuration" class="label-control">Duration Time</label>
                                                                        <input type="text" class="form-control timepicker formDuration" id="healthDuration">

                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3 col-sm-4" style="text-align: left;">
                                                                    <button class="btn btn-success formSubmit" id="healthSubmit" type="submit" data-toggle="modal" data-target="#myModal">
                                                                        <i class="material-icons">search</i> Submit
                                                                    </button>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <!--  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->

                                                        <div class="tab-pane" id="work">
                                                            <div class="row" style="padding: 30px;">
                                                                <div class="col-lg-3 col-sm-4" style="text-align: left;">
                                                                    <div class="form-group">
                                                                        <label for="workName" class="bmd-label-floating">Task Name</label>
                                                                        <input type="text" class="form-control formName" id="workName">
                                                                        <!-- <span class="bmd-help">Enter what you are doing</span> -->
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3 col-sm-4" style="text-align: left;">
                                                                    <div class="form-group">
                                                                        <label for="workDescription" class="bmd-label-floating">Description</label>
                                                                        <input type="text" class="form-control formDescription" id="workDescription">
                                                                        <!-- <span class="bmd-help">Explain your task</span> -->
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-3 col-sm-4" style="text-align: left;">
                                                                    <div class="form-group">
                                                                        <label class="label-control">Choose Start Date/Time</label>
                                                                        <input type="text" id="workStart" class="form-control datetimepicker formStart" value="">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3 col-sm-4" style="text-align: left;">
                                                                    <div class="form-group">
                                                                        <label for="workDuration" class="label-control">Duration Time</label>
                                                                        <input type="text" class="form-control timepicker formDuration" id="workDuration">

                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3 col-sm-4" style="text-align: left;">
                                                                    <button id="workSubmit" class="btn btn-success formSubmit" type="submit" data-toggle="modal" data-target="#myModal">
                                                                        <i class="material-icons">search</i> Submit
                                                                    </button>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <!--  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->

                                                        <div class="tab-pane" id="recreational">
                                                            <div class="row" style="padding: 30px;">
                                                                <div class="col-lg-3 col-sm-4" style="text-align: left;">
                                                                    <div class="form-group">
                                                                        <label for="recName" class="bmd-label-floating">Task Name</label>
                                                                        <input type="text" class="form-control formName" id="recName">
                                                                        <!-- <span class="bmd-help">Enter what you are doing</span> -->
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3 col-sm-4" style="text-align: left;">
                                                                    <div class="form-group">
                                                                        <label for="recDescription" class="bmd-label-floating">Description</label>
                                                                        <input type="text" class="form-control formDescription" id="recDescription">
                                                                        <!-- <span class="bmd-help">Explain your task</span> -->
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-3 col-sm-4" style="text-align: left;">
                                                                    <div class="form-group">
                                                                        <label class="label-control">Choose Start Date/Time</label>
                                                                        <input id="recStart" type="text" class="form-control datetimepicker formStart" value="">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3 col-sm-4" style="text-align: left;">
                                                                    <div class="form-group">
                                                                        <label for="recDuration" class="label-control">Duration Time</label>
                                                                        <input type="text" class="form-control timepicker formDuration" id="recDuration">
                                                                        <span class="bmd-help">Explain your task</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3 col-sm-4" style="text-align: left;">
                                                                    <button id="recSubmit" class="btn btn-success formSubmit" type="submit" data-toggle="modal" data-target="#myModal">
                                                                        <i class="material-icons">search</i> Submit
                                                                    </button>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <!--  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->

                                                        <div class="tab-pane " id="other">
                                                            <div class="row" style="padding: 30px;">
                                                                <div class="col-lg-3 col-sm-4" style="text-align: left;">
                                                                    <div class="form-group">
                                                                        <label for="otherName" class="bmd-label-floating">Task Name</label>
                                                                        <input type="text" class="form-control formName" id="otherName">
                                                                        <!-- <span class="bmd-help">Enter what you are doing</span> -->
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3 col-sm-4" style="text-align: left;">
                                                                    <div class="form-group">
                                                                        <label for="otherDescription" class="bmd-label-floating">Description</label>
                                                                        <input type="text" class="form-control formDescription" id="otherDescription">
                                                                        <!-- <span class="bmd-help">Explain your task</span> -->
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-3 col-sm-4" style="text-align: left;">
                                                                    <div class="form-group">
                                                                        <label class="label-control">Choose Start Date/Time</label>
                                                                        <input id="otherStart" type="text" class="form-control datetimepicker formStart" value="">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3 col-sm-4" style="text-align: left;">
                                                                    <div class="form-group">
                                                                        <label for="Input2" class="label-control">Duration Time</label>
                                                                        <input id="otherDuration" type="text" class="form-control timepicker formDuration" id="Input2">
                                                                        <span class="bmd-help">Explain your task</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3 col-sm-4" style="text-align: left;">
                                                                    <button id="otherSubmit" class="btn btn-success formSubmit" type="submit" data-toggle="modal" data-target="#myModal">
                                                                        <i class="material-icons">search</i> Submit
                                                                    </button>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="pending-customer">
                                <div class="row">
                                    <div class="col-md-12 ml-auto mr-auto">
                                        <div class="card card-table table-responsive-md table-full-width table-striped table-hover">
                                            <div class="card-body">
                                                <div class="toolbar"></div>

                                                <table class="table">
                                                    <thead>
                                                        <th data-field="id" data-sortable="true">Category</th>
                                                        <th data-field="name" data-sortable="true">Name</th>
                                                        <th data-field="salary" data-sortable="true">Task</th>
                                                        <th data-field="country" data-sortable="true">Date</th>
                                                        <th data-field="city">Duration</th>
                                                        <th data-field="actions" class="td-actions text-left" data-events="operateEvents" data-formatter="operateFormatter">Actions</th>
                                                    </thead>
                                                    <tbody>
                                                        {{#each data}} {{#unless this.completed}}
                                                        <tr id="{{this.id}}">

                                                            <td>
                                                                {{this.category}}
                                                            </td>
                                                            <td>{{this.taskName}}</td>
                                                            <td>{{this.description}}</td>
                                                            <td>
                                                                {{this.start}}
                                                            </td>
                                                            <td>{{this.duration}}</td>
                                                            <td>
                                                                <div class="text-center" style="display:inline-block;">
                                                                    <button class="btn badge badge-danger delete-task" type="button" data-toggle="tooltip" data-placement="top" title="Delete" data-container="body">
                                                                        <i class="material-icons">delete_forever</i>
                                                                    </button>
                                                                    <button class="btn badge badge-success complete" type="button" data-toggle="tooltip" data-placement="bottom" title="Complete" data-container="body">
                                                                        <i class="material-icons">done</i>
                                                                    </button>
                                                                </div>
                                                            </td>
                                                            {{/unless}} {{/each}}
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="history-customer">
                                <div class="row">
                                    <div class="col-md-12 ml-auto mr-auto">
                                        <div class="card card-table table-responsive-md table-full-width table-striped table-hover">
                                            <div class="card-body">
                                                <div class="toolbar"></div>
                                                <table class="table">
                                                    <thead>
                                                        <th data-field="id" data-sortable="true">Category</th>
                                                        <th data-field="name" data-sortable="true">Name</th>
                                                        <th data-field="salary" data-sortable="true">Task</th>
                                                        <th data-field="country" data-sortable="true">Date</th>
                                                        <th data-field="city">Duration</th>
                                                        <th data-field="actions" class="td-actions text-left" data-events="operateEvents" data-formatter="operateFormatter">Actions</th>
                                                    </thead>
                                                    <tbody>
                                                        {{#each data}} {{#if this.completed}}
                                                        <tr id="{{this.id}}">

                                                            <td>
                                                                {{this.category}}
                                                            </td>
                                                            <td>{{this.taskName}}</td>
                                                            <td>{{this.description}}</td>
                                                            <td>
                                                                {{this.start}}
                                                            </td>
                                                            <td>{{this.duration}}</td>
                                                            <td>
                                                            </td>
                                                            {{/if}} {{/each}}
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="profile-customer">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="card">
                                            <div class="card-header card-header-success">
                                                <h4 class="title text-center">Statistics</h4>
                                            </div>
                                            <div class="card-content" style="padding: 20px;">
                                                <canvas id="completed-chart"></canvas>
                                                <canvas class="hidden" id="incomplete-chart"></canvas>
                                                <canvas class="hidden" id="all-chart"></canvas>
                                            </div>
                                            <div class="text-center">
                                                <ul class="nav nav-tabs" data-tabs="tabs" style="background: black;">
                                                    <li class="nav-item" style="width: 33%">
                                                        <a class="nav-link active" href="#complete" data-toggle="tab" id="complete-task">
                                                            <i class="material-icons">layers</i>
                                                            <span>Completed</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item" style="width: 33%">
                                                        <a class="nav-link" href="#incomplete" data-toggle="tab" id="incomplete-task">
                                                            <i class="material-icons">layers</i>
                                                            <span>Pending</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item" style="width: 33%">
                                                        <a class="nav-link" href="#all" data-toggle="tab" id="all-task">
                                                            <i class="material-icons">layers</i>
                                                            <span>All</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="profile">
                                                <div class="avatar">
                                                    <img src="{{photo}}" alt="Circle Raised" class="img-raised rounded-circle img-fluid">
                                                </div>
                                                <div class="name" style="padding-left: 5px;">
                                                    <h3 class="title"></h3>
                                                    <h4 class="text-bold">
                                                        <a href="" class="btn-just-icon">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                        <a href="" class="btn-just-icon">
                                                            <i class="fa fa-instagram"></i>
                                                        </a>
                                                        <a href="" class="btn-just-icon">
                                                            <i class="fa fa-facebook-square"></i>
                                                        </a>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
<footer class="footer ">
    <div class="container" style="color: #fff;">
        <div class="copyright pull-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>
            <b>Time</b> Get Shit Done.
        </div>
    </div>
</footer>
<!--   Core JS Files   -->
<script src="/assets/js/core/jquery.min.js"></script>
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/bootstrap-material-design.js"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
<script src="/assets/js/plugins/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="/assets/js/plugins/nouislider.min.js"></script>
<!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
<script src="/assets/js/material-kit.js?v=2.0.2"></script> {{!-- Chart js --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script src="/js/ajax.js"></script>
<script src="/js/chart.js"></script>
<script>
    $(document).ready(function () {

        //init DateTimePickers
        materialKit.initFormExtendedDatetimepickers();

    });
</script>